In [1]:
#import required packages 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
#load the dataset 
data = pd.read_csv('pokemonTransform.csv')
data.head()

   Type 1  Total  HP  Attack  ...  Sp.Def  Speed  Generation  Legendary
0       6    318  45      49  ...      65     45           1          0
1       6    405  60      62  ...      80     60           1          0
2       6    525  80      82  ...     100     80           1          0
3       6    625  80     100  ...     120     80           1          0
4       5    309  39      52  ...      50     65           1          0

[5 rows x 10 columns]

In [3]:
#dataset description
data.describe()

          Type 1      Total          HP  ...       Speed  Generation  Legendary
count  800.00000  800.00000  800.000000  ...  800.000000   800.00000  800.00000
mean     7.39500  435.10250   69.258750  ...   68.277500     3.32375    0.08125
std      4.90245  119.96304   25.534669  ...   29.060474     1.66129    0.27339
min      0.00000  180.00000    1.000000  ...    5.000000     1.00000    0.00000
25%      3.00000  330.00000   50.000000  ...   45.000000     2.00000    0.00000
50%      7.00000  450.00000   65.000000  ...   65.000000     3.00000    0.00000
75%     11.00000  515.00000   80.000000  ...   90.000000     5.00000    0.00000
max     17.00000  780.00000  255.000000  ...  180.000000     6.00000    1.00000

[8 rows x 10 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Type 1      800 non-null    int64
 1   Total       800 non-null    int64
 2   HP          800 non-null    int64
 3   Attack      800 non-null    int64
 4   Defense     800 non-null    int64
 5   Sp.Atk      800 non-null    int64
 6   Sp.Def      800 non-null    int64
 7   Speed       800 non-null    int64
 8   Generation  800 non-null    int64
 9   Legendary   800 non-null    int64
dtypes: int64(10)
memory usage: 62.6 KB

In [5]:
data.dtypes

Type 1        int64
Total         int64
HP            int64
Attack        int64
Defense       int64
Sp.Atk        int64
Sp.Def        int64
Speed         int64
Generation    int64
Legendary     int64
dtype: object

In [6]:
X = data.iloc[:,0:9]
print(X)

     Type 1  Total  HP  Attack  Defense  Sp.Atk  Sp.Def  Speed  Generation
0         6    318  45      49       49      65      65     45           1
1         6    405  60      62       63      80      80     60           1
2         6    525  80      82       83     100     100     80           1
3         6    625  80     100      123     122     120     80           1
4         5    309  39      52       43      60      50     65           1
..      ...    ...  ..     ...      ...     ...     ...    ...         ...
795      10    600  50     100      150     100     150     50           6
796      10    700  50     160      110     160     110    110           6
797       8    600  80     110       60     150     130     70           6
798       8    680  80     160       60     170     130     80           6
799       5    600  80     110      120     130      90     70           6

[800 rows x 9 columns]

In [7]:
Y = data['Legendary']
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
795    1
796    1
797    1
798    1
799    1
Name: Legendary, Length: 800, dtype: int64

In [0]:
#split the dataset
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [9]:
#build the logistic regression model 
model_logreg = LogisticRegression(random_state=0, solver='lbfgs')
model_logreg.fit(x_train, y_train)
y_pred = model_logreg.predict(x_test)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [10]:
#confusion matrix 
cfn_mat = metrics.confusion_matrix(y_test, y_pred)
cfn_mat

array([[142,   3],
       [  8,   7]])

In [11]:
#model performance 
count_misclassified = (y_test != y_pred).sum()
print('Misclassified samples: {}'.format(count_misclassified))
accuracy = metrics.accuracy_score(y_test, y_pred)
print('Accuracy: {:.2f}'.format(accuracy))
print(classification_report(y_test, y_pred))

Misclassified samples: 11
Accuracy: 0.93
              precision    recall  f1-score   support

           0       0.95      0.98      0.96       145
           1       0.70      0.47      0.56        15

    accuracy                           0.93       160
   macro avg       0.82      0.72      0.76       160
weighted avg       0.92      0.93      0.92       160